@model ProductActionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@if (Model.Sizes != null && Model.Sizes.Count() > 0)
{
    <div id="sizeDiv">
        @foreach (var item in Model.Sizes)
        {
            if (Model.ProductSize != null && Model.ProductSize.Count() > 0)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox"
               value="@item.Id" id="@(item.Id)"
               @(Model.ProductSize.Any(x => x.SizeId == item.Id) ? "checked" : "" ) onclick="OnclickCheckbox()" />
                    <label class="form-check-label" for="inlineCheckbox2">@item.Name</label>
                </div>
            }
            else
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox"
               value="@item.Id" id="@(item.Id)" data-name="@item.Name"  onclick="OnclickCheckbox()" />
                    <label class="form-check-label" for="inlineCheckbox2">@item.Name</label>
                </div>
            }
        }
    </div>

}
